<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.property.bluecard.propertyrechargemeter.generator.mapper.EeimYgdMapper">

    <resultMap id="BaseResultMap" type="com.property.bluecard.propertyrechargemeter.generator.domain.EeimYgd">
            <id property="inUserNo" column="IN_USER_NO" jdbcType="VARCHAR"/>
            <id property="businessAreaCode" column="BUSINESS_AREA_CODE" jdbcType="VARCHAR"/>
            <id property="paydate" column="PAYDATE" jdbcType="VARCHAR"/>
            <result property="mon" column="MON" jdbcType="VARCHAR"/>
            <result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
            <result property="meterNum" column="METER_NUM" jdbcType="VARCHAR"/>
            <result property="paymoney" column="PayMoney" jdbcType="DECIMAL"/>
            <result property="payNum" column="Pay_Num" jdbcType="INTEGER"/>
            <result property="symbol" column="SYMBOL" jdbcType="CHAR"/>
            <result property="inFUuid" column="IN_F_UUID" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        IN_USER_NO,BUSINESS_AREA_CODE,PAYDATE,
        MON,USER_NAME,METER_NUM,
        PayMoney,Pay_Num,SYMBOL,
        IN_F_UUID
    </sql>
</mapper>
