<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.property.bluecard.propertyrechargemeter.generator.mapper.MeterMapper">

    <resultMap id="BaseResultMap" type="com.property.bluecard.propertyrechargemeter.generator.domain.Meter">
            <id property="mId" column="M_Id" jdbcType="INTEGER"/>
            <result property="extentCode" column="Extent_Code" jdbcType="INTEGER"/>
            <result property="userId" column="User_ID" jdbcType="VARCHAR"/>
            <result property="userName" column="User_Name" jdbcType="VARCHAR"/>
            <result property="userAddr" column="User_Addr" jdbcType="VARCHAR"/>
            <result property="userPhon" column="User_Phon" jdbcType="VARCHAR"/>
            <result property="meterNum" column="Meter_num" jdbcType="VARCHAR"/>
            <result property="cardId" column="Card_Id" jdbcType="VARCHAR"/>
            <result property="stopFlag" column="Stop_flag" jdbcType="BIT"/>
            <result property="started" column="Started" jdbcType="BIT"/>
            <result property="payNum" column="Pay_Num" jdbcType="INTEGER"/>
            <result property="logout" column="Logout" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        M_Id,Extent_Code,
        User_ID,User_Name,
        User_Addr,User_Phon,Meter_num,Card_Id,Stop_flag,Started,
        Pay_Num,Logout
    </sql>
</mapper>
